<div class="tabs">
  <div class="tab-buttons">
    <% data.prizes.each_with_index do |round, index| %>
      <button class="tab-button <%= 'active' if index == 0 %>" data-tab="tab-<%= index %>">
        <%= round.rodada %>
      </button>
    <% end %>   
  </div>

  <div class="tab-contents">   
    <% data.prizes.each_with_index do |round, index| %> 
      <div class="tab-content <%= 'active' if index == 0 %>" id="tab-<%= index %>">
        <div class="flex">
          <% round.prizes.each do |prize| %>
            <div class="prize-card <%= prize.area %>"> 
              <%= image_tag prize.image, class: 'prize-img', alt: prize.name %> 
              <div  class="prize-content">
                <h4 class="prize-name"><%= prize.quina %></h4>               
                <p class="prize-description"><%= prize.name %></p>
              </div> 
            </div>
          <% end %>
        </div>
      </div>
    <% end %> 
  </div>
</div>
<p class="img-ilustration-p">
  <em>** As imagens apresentadas são ilustrativas e podem não corresponder ao produto final. **</em>
</p>
