<div class="tabs">
  <div class="tab-buttons">
    <% data.prizes.each_with_index do |round, index| %>
      <button class="tab-button <%= 'active' if index == 0 %>" data-tab="tab-<%= index %>">
        <%= round.rodada %>
      </button>
    <% end %>   
  </div>

  <div class="tab-contents">   
    <% data.prizes.each_with_index do |round, index| %> 
      <div class="tab-content <%= 'active' if index == 0 %>" id="tab-<%= index %>">
        <div class="flex">
          <% round.prizes.each do |prize| %>
            <div class="card"> 
              <%= image_tag prize.image, class: 'prize-img' %>  
                <h4><%= prize.quina %></h4>               
                <p class="prize-description"><%= prize.description %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %> 
  </div>
</div>
